$size: 170px;
@mixin size {
    min-width: $size*2;
    min-height: $size;
}
.mainWindow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.IU{
    background-color:rgb(255, 81, 58);
   @include size;
}
.InU{
    background-color:rgb(89, 243, 23);
    @include size;
}
.nIU{
    background-color:rgb(38, 145, 233);
    @include size;
}
.nInU{
    background-color:rgb(237, 215, 45);
    @include size;
}


@media (max-width:(1050px)) {
    .mainWindow{
        grid-template-columns: 1fr;
    }
}