.sidebar{
    ul{
        li{
            padding: 5px;
            margin: 5px;
            border: 1px solid gray;
            border-radius: 5px;
            list-style: none;
        }
    }
    
}