    .mod{
        label{
            padding: 5px;
            div{
                margin: 15px 0 5px 0;
            }
        } 
    }
  
.alert{
    margin: 5px;
    color: red;
    text-align: center;
}